
  * {
  padding: 0%;
  margin: 0%;

  }
  body {
    margin: 0;
    padding: 0;
    background-color: rgb(11, 58, 102);
    font-family: 'segoe ui';
    background-size: 100% 1000vh;
  }
  

  .navbar {
    background-color: rgb(11, 58, 102) !important;
    position: fixed;
    padding: 20px 0px;
  }

  .navbar-var li:hover > ul.dropdown-menu{
      display: block;
  }

  .dropdown-submenu {
      position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
      top: 0;
      margin-top: -5px;
      left: 100%;
  }


  .box {
    width: 200px;
  }
  .minibox {
    width: 50px;
  }
  .width {
    width: 100%;
  }
  .max {
    max-width: 100%;
  }

  .Encabezado > h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 58, 102) !important;
    position: relative;
    color: aliceblue;
    
  }

  .Encabezado > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    color: rgb(60, 131, 192);
  }
    

  .row > .card{
    background-color: rgb(24, 90, 151) !important;
    padding: 20px 50px;
    color: black;
}

#idcarrusel{

  background-color: rgb(77, 87, 97) !important;
  padding: 20px 50px;

}


  .contacto {
    background-color: rgb(24, 90, 151);
    padding: 10px 10px;
    color:aliceblue;
    margin-top: 5px;
  }

  .titulo-contacto {
    margin:auto;
    text-align: center;
    font-family: courier, Arial, Helvetica, sans-serif;
  }

  .btn {
    color:aliceblue;
  }

  .donaciones {
    background-color: rgb(24, 90, 151);
    padding: 10px 10px;
    color:aliceblue;
    margin-top: 5px;
  }

  .titulo-donaciones {
    margin:auto;
    text-align: center;
    font-family: courier, Arial, Helvetica, sans-serif;
  }

  .footer {
    background-color: rgb(24, 90, 151);
    padding: 4rem 0;
    text-align: center;
    margin-top: -1rem;
  }

  .footer-container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    color:aliceblue;
  }

  .MascotaLover {
    color: aliceblue;
    text-align: center;
  }

  .offcanvas {
    background-color: rgb(31, 116, 173);
  }

  .carousel-item {
    height: 100vh;
    min-height: 100px;
    background: no-repeat center center scroll;
    -webkit-background-size: relative;
    -moz-background-size: relative;
    -o-background-size: relative;
    background-size: relative;
  }



  
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
  
  .card-img-top {
    width: 100%;
    height: 400px !important;
    border-top-left-radius: calc(0.25rem - 80px);
    border-top-right-radius: calc(0.25rem - 80px);
  }